body {
  background-color: #1a1a2e; /* Dark navy blue */
  color: #dcdde1; /* Light gray for text */
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 410;
  font-style: normal;
  overflow: auto; /* Enables scrolling on the whole page when content overflows */
  height: 100%; /* Make sure the body takes full height */
  margin: 0; /* Remove default margin */
}

#screwdriverHtml {
  margin: 20px 10px;
  font-family: "Oswald", sans-serif;
  color: #333333;
  font-size: 25px;
  position: absolute;
  background-color: darkorange;
  border-radius: 40px;
  border: 0;
  font-weight: 700;
  top: 100px;
  left: 0.1px;
}

#hammersHtml {
  margin: 20px 1px;
  font-family: "Oswald", sans-serif;
  color: #333333;
  font-size: 25px;
  position: absolute;
  background-color: darkorange;
  border-radius: 40px;
  border: 0;
  font-weight: 700;
  top: 200px;
  left: 1px;
}

.scrollable-section {
  width: 80%;        /* Adjust the width as needed */
  height: 300px;     /* Set a fixed height for the scrollable area */
  overflow: auto;    /* Enables scrolling when content overflows */
  border: 2px solid #dcdde1;  /* Optional: adds a border around the scrollable area */
  margin: 20px auto; /* Center the div */
  padding: 10px;     /* Padding for better appearance */
}
